body {
  background-color: rgb(46, 44, 44);
  color: cornsilk;
  display: flex;
  justify-content: center;
}

.App {
  padding: 2rem;
  max-width: 880px;
  border: 1px solid gold;
}

.nav {
  background-color: dimgrey;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  padding: 1rem;
}

a {
  text-decoration: none;
  color: orange;
}

article.book {
  margin: 5em;
  padding: 1rem;
  border: 1px solid greenyellow;
}

.new-book {
  display: flex;
  flex-direction: column;
  min-width: 800px;
}

.form {
  display: flex;
  flex-direction: column;
}